unalias l
alias l="exa -abghl --git --color=automatic"

# yep
alias nivm=nvim
alias mivn=nvim
alias vnim=nvim
alias nvum=nvim
alias vim=nvim

# So graphicsmagick works
unalias gm

# This is the most important line
alias cowsayr='cowsay -f $(shuf -en1 /usr/share/cowsay/cows/*.cow)'

# Fuzzy branch switching
# zsh only
alias gb='print -z gco $(git branch --sort=-committerdate | grep -v "^\*" | fzf --height=20% --reverse --info=inline)'

# Docker compose
alias dcd='docker compose down --remove-orphans'
alias dcu='docker compose up'
