eval "$(thefuck --alias fuck)"

unalias l
alias l="exa -abghl --git --color=automatic"
alias ka="k -ah"

# Clock SSH Config updater
SSHConfigBase='~/.ssh/config.base'
SSHConfigRepo='~/Clock/SSHConfiguration/'
SSHConfig='~/.ssh/config'
alias updatesshconfig="cd $SSHConfigRepo && git pull && \
  cat $SSHConfigRepo/ssh_config.d/* > $SSHConfig && \
  cat $SSHConfigBase >> $SSHConfig && cd ~\
"

